table {
    text-align: left;
}

html, body {
    height: 100%;
    background-color: hsl(0, 0%, 94%);
}

#contain-the-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#contained-container {
    background-color: hsl(0, 0%, 100%);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#submit {
    border: none;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50px;
    padding: 18px;
}